#content {
  margin:10px;
}

.meeting-container{
  text-align: center;
  background:rgba(0,0,0,.04);
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;

}
.card-meeting {
  width: 80%;
  overflow: hidden;
  outline: none;
}
