<div fxLayout="row" id="content">
  <div fxLayout="column" fxFlex="10">
    <div>
    <mat-divider></mat-divider>
      <mat-form-field appearance="fill">
        <mat-label>Grups</mat-label>
        <mat-select >
          <mat-option *ngFor="let group of (groups | async)?.groups.find.edges" [value]="group.node.channels" (click)="loadChannels(group.node.channels)">{{group.node.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
    <mat-divider></mat-divider>

      <h4>Channels</h4>
      <mat-list>
        <mat-list-item *ngFor="let channel of channels">
          <button mat-icon-button (click)="seeMeetings(channel.meetings)">
            <mat-icon>{{channel.name}}</mat-icon>
         </button>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="meeting-container" fxLayout="column"  fxFlex="30">
    <mat-card class="card-meeting" *ngFor="let meeting of meetings">
      <mat-card-title>{{meeting.name}}</mat-card-title>
      <mat-card-actions>
        <button mat-button (click)="intoMeeting(meeting.id)"> Unirse </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="60">
    <mat-card *ngFor="let stream of videoGrid">
      <video controls (loadedmetadata)="enventHandler" [srcObject]="stream" [autoplay]="true"></video>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>
